.cartItem {
    background-color: #dcdcdc7d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.img {
    width: 100px;
    height: 100px;
}
.img2 {
    width: 70px;
    height: 70px;
}
.cartItemInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.imgContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 7.5px 15px;
    border: none;
    background-color:#ff324d;
    color: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px 5px;
    width: 100px;
    border: none;
    background-color:#ff324d;
    color: #fff;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.btn:hover {
    background-color:#000000;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.btn2:hover {
    background-color:#000000;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.name {
    font-size: 18px;
    font-weight: 600;
}
.name2 {
    font-size: 14px;
    font-weight: 600;
}
.count {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    width: 40px;
    height: 40px;
    color: #ff324d;
    font-weight: 600;
    font-size: 14px;
}
.price {
    font-size: 18px;
    font-weight: 600;
}

.count2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    width: 30px;
    height: 30px;
    color: #ff324d;
    font-weight: 600;
}
.price2 {
    font-size: 14px;
    font-weight: 600;
}

@media screen and (max-width: 768px) { 
    
}