.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 399px;
    height: 400px;
    overflow-y: scroll;
    position: fixed;
    top: 67px;
    right: 50px;
    z-index: 2000;
    background-color: #ffffff;
    padding: 10px 20px;
    border-top: 3px solid  #ff324d;
}

.container::-webkit-scrollbar {
    width: 0px; 
}
.h6 {
    font-size: 20px;
    font-weight: 600;
    color: #ff324d;
}
.btn {
    align-self: center;
    background-color:  #ff324d;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-color:  #000000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.hideCart {
    display: none;
}