.link {
    margin: 0 10px;
    background-color: transparent;
    padding: 7.5px 15px;
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.link:hover {
    background-color:#ff324d ;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

a.active {
    background-color: #ff324d;
    color: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.notActive{
    background-color: transparent;
    color: #000000;
}
.avaterContainer {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 7.5px 15px;
    gap: 5px;
}
.avaterimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}