.TreandingProducts {
    padding: 50px 0;
}
.headTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2{
    font-size: 36px;
}
.line {
    width: 60px;
    height: 3px;
    background-color: #ff324d;
}
.productsContainer {
    width: 80%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

@media screen and (max-width: 800px) {
    .productsContainer {
        justify-content:center;
        gap: 40px;
    }
}
