.head {
    background-color: #e4e4e4;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
}
.cartContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 50px auto;
}
.ItemsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.Summarycart {
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: #dcdcdc7d;
    padding: 50px  25px;
    width: 40%;
    font-size: 18px;
    font-weight: 600;

}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 7.5px 15px;
    border: none;
    background-color: #dcdcdc7d;
    background-color:#ff324d;
    color: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.btn:hover {
    background-color:#f91735;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.title {
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 768px) { 
    .Summarycart {
        width: 100%;
    }
}
