.head {
    background-color: #e4e4e4;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.h2 {
    font-size: 36px;
    font-weight: 600;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.LoginForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    gap: 20px;
    box-shadow: 1px 1px 1px 1px #64646451;
    padding: 50px 50px;
}
.LoginOption {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.or {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.line {
    width: 49%;
    height: 1px;
    background-color: #e4e4e4;
}
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #6f7894;
    gap: 5px;
    font-size: 18px;
}
.input {
    border: none;
    padding: 10px 20px;
    border: 0.5px solid #e4e4e4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.loginhead {
    font-weight: 600;
}
.checkboxContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    color: #6f7894;
    font-size: 18px;
}
.checkbox {
    width: 20px;
    height: 20px;
}
.checkbox:checked + span {
    color: rgb(0, 22, 189);  
}

.forgetPassword {
    color: #6f7894;
    font-size: 18px;
    cursor: pointer;
}
.loginsubmit {
    border: none;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: #ff324d;
    border: 0.5px solid #e4e4e4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.loginsubmit:hover {
    color: #ff324d;
    background-color: transparent;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.fb {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #3b5998;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.go {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #d85040;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.fb:hover {
    background-color: #2a3f6c;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.go:hover{
    background-color: #ad3e32;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.signup {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.signup:hover {
    color: #ff324d;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}   
.error {
    font-size: 18px;
    padding: 20px 0;
    background-color: #ff0022;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media screen and (max-width: 900px) {
    .LoginForm{
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .LoginForm{
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .LoginForm{
        font-size: 14px !important;
    }
}