.SingleproductCotainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 50px 0;
}

.SingleproductSlider,
.productdata {
    width: 48%; 
    box-sizing: border-box; 
}
.productdata {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.img {
    width: 100%;
    height: 100%;
}


.addToCartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.click {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ff324d;
    color: #fff;
    font-size: 18px;
}
.counter{
    border: 1px solid #ff324d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
}
.add {
    border: none;
    padding: 10px 20px;
    background-color: #ff324d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
.add:hover,
.click:hover {
    background-color: #fa1c39;
}


@media (max-width: 600px) {
    .SingleproductCotainer
    {
        gap: 40px;
    }
    .SingleproductSlider,
    .productdata {
        width: 100%; 
    }

}
.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    color: #fff;
    font-size: 20px;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: #02ab2f;
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 400px) {

        .click ,
        .counter{
            width: 30px;
            height: 30px;
    }
    .add {
        padding: 5px 10px;
     }
     .alert  {
        width: 80%;
        font-size: 16px;
     }
}
